---
########################################################################################################################
#
# Create VPC
# Documentation: https://docs.ansible.com/ansible/2.4/ec2_vpc_net_module.html
#
########################################################################################################################

    - name: present VPC
      ec2_vpc_net:
        name: "{{ ec2_name_prefix }}-vpc"
        cidr_block: "{{ ec2_vpc_cidr }}"
        tags:
          family: "{{ ec2_name_prefix }}"
        tenancy: default
        region: "{{ ec2_region }}"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
      register: vpc

    - name: present network gateway
      ec2_vpc_igw:
        vpc_id: "{{ vpc.vpc.id }}"
        state: present
        region: "{{ ec2_region }}"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
      register: igw

#    - name: create a private zone
#      route53_zone:
#        zone: consul.local
#        vpc_id: '{{ vpc.vpc.id }}'
#        region: "{{ ec2_region }}"
#        aws_access_key: "{{ aws_access_key }}"
#        aws_secret_key: "{{ aws_secret_key }}"
#        comment: "{{ ec2_name_prefix }}-zone"
#      register: r53
#
#    - debug: msg="{{ r53 }}"