---
language: python
python: "2.7"
sudo: false

env:
  - BOTO_CONFIG="/dev/null"

before_install:
  - sudo apt-get update -qq

install:
  - pip install ansible
  - pip install ansible-lint
  - pip install boto
  - pip install boto3

script:
  - make travis

