# Default state
state: present

# Default valid state
state_present: present

# Default group name
ec2_name_prefix: foo-bar-consul

# Default region
ec2_region: eu-west-1

ec2_vpc_cidr: 10.10.0.0/16

# Default HA region subnets
ec2_vpc_subnets:
  a:
    name: "{{ ec2_region }}a"
    cidr: 10.10.1.16/28
  b:
    name: "{{ ec2_region }}b"
    cidr: 10.10.2.16/28
  c:
    name: "{{ ec2_region }}c"
    cidr: 10.10.3.16/28

# Default launchtype
ecs_launchtype: FARGATE

# Default delay to wait
ecs_delay: 10

# Default repeats waiting for service
ecs_repeat: 10

# Default public ips
ecs_public_ip: yes

# Default Image
ecs_task_image: consul

# Default CPU
ecs_task_cpu: 256

# Default Memory
ecs_task_memory: 512