---
########################################################################################################################
#
# Create Taskdefinition
# https://docs.ansible.com/ansible/latest/modules/ecs_taskdefinition_module.html
#
########################################################################################################################

    - name: Create task definition
      ecs_taskdefinition:
        family: "{{ ec2_name_prefix }}-taskdefinition"
        containers:
          - name: "{{ ec2_name_prefix }}-taskdefinition"
            essential: true
            image: "{{ ecs_task_image }}"
            portMappings:
              - containerPort: 8500
                hostPort:      8500
            environment:
              - name: CONSUL_BIND_INTERFACE
                value: eth0
              - name: CONSUL_LOCAL_CONFIG
                value: "{{ lookup('template','./template/docker_consul_local_config.json.j2')|to_json }}" # TODO: remove after bugfix https://github.com/ansible/ansible/issues/44897
        launch_type: "{{ ecs_launchtype }}"
        cpu: "{{ ecs_task_cpu }}"
        memory: "{{ ecs_task_memory }}"
        state: present
        network_mode: awsvpc
        region: "{{ ec2_region }}"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
