---
########################################################################################################################
#
# Create Taskdefinition
# https://docs.ansible.com/ansible/latest/modules/ecs_taskdefinition_module.html
#
########################################################################################################################

    - name: Create task definition
      ecs_taskdefinition:
        family: "{{ ec2_name_prefix }}-taskdefinition"
        containers:
          - name: "{{ ec2_name_prefix }}-taskdefinition"
            essential: true
            image: "{{ ecs_task_image }}"
            portMappings:
              - containerPort: 8500
                hostPort:      8500
        force_create: yes
        launch_type: "{{ ecs_launchtype }}"
        cpu: "{{ ecs_task_cpu }}"
        memory: "{{ ecs_task_memory }}"
        state: present
        network_mode: awsvpc
        region: "{{ ec2_region }}"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
